body,
html {
  height: 100%;
  margin: 0;
  color: #cfcfcf; /* Light grey text, suitable for dark background */
  background-color: #121212; /* Very dark grey, near-black background */
}

.hero-section {
  background: url('../img/photo.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Adjust based on desired vertical positioning */
  padding: 0 20px 100px; /* Adds padding at the bottom */
  flex-direction: column;
  text-align: top;
}

.hero-section h1,
.hero-section p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow to make text more legible */
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.9);
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-primary {
  background-color: #8012ac;
  border-color: #630d85;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Increased specificity by targeting .tech-icon within .col */
.tech-icon {
  font-size: 3rem;
  margin: 10px;
}

.tech-icon:hover {
  color: #ffffff; /* Highlight color on hover */
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

.grow,
.card {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

.card:hover {
  transform: scale(1.05);
}

.portfolio-item {
  margin-bottom: 30px;
}

.card {
  background: #1f1f1f; /* Dark cards */
  color: #cfcfcf;
}

.card .btn-primary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.card .btn-primary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.form-control {
  background-color: #333;
  color: #cfcfcf;
  border: 1px solid #444;
}

.form-control:focus {
  background-color: #333;
  border-color: #007bff;
  outline: 0;
  box-shadow: none;
}

.invalid-feedback {
  display: none; /* Hide default feedback text */
}

.was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none; /* Remove default background images */
}

.was-validated .form-control:invalid:focus {
  border-color: #dc3545;
  box-shadow: none;
}

.card-img-top {
  width: 100%; /* This makes the image fill the card width */
  height: 200px; /* Adjust height as needed */
  object-fit: cover; /* This will cover the area without stretching the image */
}

.more {
  display: none;
}

.btn-link,
.read-more-btn {
  padding: 0;
  outline: 0;
}

@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

/* Stars 
------------------------------------- */

.space,
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-size: contain;
  background-attachment: fixed;
}

#contact {
  position: relative;
  padding: 20px;
  border-radius: 8px; /* Optional: for aesthetic purposes */
  z-index: 10; /* Ensures the form appears above the stars */
}

.stars {
  background-image: radial-gradient(
      2px 2px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}
